@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #000d1a;
  color: white;
}

h1,
h3
{
  text-align: center;
}

h1{
  font-size: 60px;
  margin-bottom: 30px;
}

a {
  color: #8D8D8D;

}

a:hover {
  color: grey;
}

.all{
  margin-top: 100px;
}




#diag-overlay {
  display: none;
  opacity: .6;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #A8A8A8;
  width: 100%;
  z-index: 10;

}

#diag-box {
  display: none;
  position: fixed;
  background: #000;
  border-radius: 7px;
  z-index: 10;
}

#diag-box > div {
  background-color: #FFF;
}

#diag-box-head {
  background-color: black;
  font-size: 20px;
  padding: 10px;
  color: #CCC;
  text-align: center;
  color: white;
  font-weight: bold;
}

#diag-box-body {
  padding: 20px;
  color: black;
  background-color: white;
  height: 80px;
  font-size: 30px;
  text-align: center;
}

#diag-box-foot {
  background-color: black;
  padding: 10px;
  text-align: right;
  color: white;
  font-weight: bold;

}

#restart{
  color: black;
}



#time,
#break{
  padding: 20px;

}

.time,
.break-b {
  width: 50px;
  margin: 10px;
  padding: 5px;
  border: solid white 2px;
  font-weight: bold;
  font-size: 15px;
}


.timer,
.break{
  display: inline;
}


#timer-line,
#break-line{
  background-color: black;
  text-align: center;
  height: 70px;
  color: white;
  padding-top: 19px;
  font-size: 20px;
  margin-top: 35px;
}

#beginning {
  text-align: center;
  margin-top: 4vh;
}

.movement {
  width: 80px;
  margin: 10px;
}

#addTimer,
#addBreak {
  background-color: #001E00;
  color: white;
}

#subTimer,
#subBreak {
  background-color: #5B0000; /* By Ian Agpawa */
  color: white;
}


.movement {
  color: black;
  font-weight: bold;
  padding: 5px;
}
